#box1, #box2, #box4, #box5, #box7, #box8{
    border-right: 3px solid black;
}
#box1, #box2, #box3, #box4, #box5, #box6{
    border-bottom: 3px solid black;
}
td {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 50px;
}
table{
    background-color: red;
    border-collapse: collapse;
    width: 600px;
    height: 600px;
}
body{
    background-color: #4489ca;
}


td:hover{
    cursor: pointer;
    background-color: aqua;
}
#message {
    text-align: center;
    position: relative;
    width: 500px;
    left: 700px;
    bottom: 400px;
    font-size: 100px;
    background-color: orange;
}
#title {
    background-color: blueviolet;
    text-align: center;
    width: 600px;
    position: relative;
    left: 650px;
    bottom: 600px;
    font-size: 100px;
}